/**
 * Carousel
 **************************************************
 **************************************************
 */

/**
 * Note: for controlling the size
 * Desktop - shrink the size to fit the arrow.
 * Mobile - expand the size for the arrow to touch the edge of the screen.
 */
.carousel-container {
  box-sizing: border-box;
  padding: 0 (75px/2);
  @include media(md) {
    width: calc(100% + #{$content-padding-mobile*2});
    margin-left: -#{$content-padding-mobile};
    padding: 0 $content-padding-mobile;
  }
}

.carousel-wrap {
  color: #ffffff;
  position: relative;
  align-self: flex-start;

  .carousel-item {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    transition: color $transition-ui;

    &:hover {
      color: $color-font__dark;
    }

    // add the gray gradient at the bottom
    &.with-bottom-gradient {
      &::before {
        $rgb: 50;
        content: '';
        background-image: linear-gradient(rgba($rgb, $rgb, $rgb, 0), rgba($rgb, $rgb, $rgb, .9));
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
  .carousel-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  ._text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: (40em/16);
    z-index: 3;
    box-sizing: border-box;
    .carousel-date {
      font-style: italic;
      font-size: (22em/16);
    }
    .carousel-title {
      font-weight: bold;
      font-size: (40em/16);
      margin: .4em 0 0 0;
    }
  }

  // Override
  // ----------------------------------------
  .slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: (74em/16);
    height: (74em/16);
    background-color: $color-1;
    z-index: 9;
    @include chevron((2em/16), 2.5em, 0, -135, #ffffff);
    cursor: pointer;
    &:hover {
      background-color: $color-btn-hover;
    }
    &::before {
      top: 1.7em;
      left: .25em;
    }
  }
  .arrow-prev {
    transform: translate(-50%, -50%);
    //transform: translate(0, -50%);
  }
  .arrow-next {
    transform: translate(50%, -50%);
    //transform: translate(0, -50%);
    left: auto;
    right: 0;
    &::before {
      left: .6em;
      transform: rotate(45deg);
    }
  }
  @include media(lg) {
    ._text-wrap {
      font-size: .85em;
    }
  }
  @include media(md) {
    .arrow-prev {
      @include chevron(1px, 16px, 0, -135, #ffffff);
      &::before {
        left: 4px;
      }
    }
    .arrow-next {
      @include chevron(1px, 16px, 0, 45, #ffffff);
      &::before {
        left: 8px;
      }
    }
    .slick-arrow {
      width: #{$content-padding-mobile*2};
      height: #{$content-padding-mobile*2};
      &::before {
        top: 13px;
      }
    }
    ._text-wrap {
      font-size: .75em;
    }
  }
}



// Video Support
// ----------------------------------------
.carousel-video-wrap {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
  .carousel-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .carousel-item {
    padding-bottom: 56.25%; /* 16:9 */
  }
}
