// Wrappers
// ----------------------------------------
.card-container {
  border-top: 1px solid currentColor;
  margin: 2em 0;
  padding: 1em 0 0 0;
  font-size: 16px;
  @include media(md) {
    font-size: 12px;
  }
  @include media(sm) {
    font-size: 8px;
  }
}


// Grids
// ----------------------------------------

.card-grid {
  $gutter-width: (40em/16);
  width: calc(100% + #{$gutter-width});
  margin-left: -#{$gutter-width / 2};
  display: flex;
  flex-wrap: wrap;
  .card-col {
    position: relative;
    padding: #{$gutter-width / 2} #{$gutter-width / 2};
    box-sizing: border-box;
    width: (100%/4);
  }
  @include media(md) {
    width: calc(100% + #{$content-padding-mobile});
    margin-left: -#{$content-padding-mobile / 2};
    .card-col {
      width: (100%/2);
      padding: #{$content-padding-mobile / 2} #{$content-padding-mobile / 2};
    }
  }

  // Variations
  // ----------------------------------------
  &.grid-50 {
    // override
    .card-col {
      width: (100%/2);
      @include media(sm) {
        width: (100%/1);
      }
    }
  }
  &.grid-33 {
    // override
    .card-col {
      width: (100%/3);
      @include media(sm) {
        width: (100%/1);
      }
    }
  }
}

.product-card {
  ._inner {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }
  .product-thumb {
    @extend %full-absolute;

  }
  .inside-label {
    width: 100%;
    position: absolute;
    bottom: 1em;
    left: 0;
    text-align: center;
    padding: 0 .5em;
    font-size: (24em/16);
    transition: color $transition-ui;
    box-sizing: border-box;
  }
  .product-price {
    margin: .75em 0 .4em 0;
    text-align: center;
    font-size: (18em/16);
    span {
      font-size: (22em/16);
    }
  }
  .product-desc {
    margin: .75em 0 .4em 0;
    text-align: center;
    font-size: (18em/16);
    color: #898989;
    span {
      font-size: (22em/16);
    }
  }
}

.news-card {
  display: block;
  .news-thumb-wrap {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    .news-thumb {
      @extend %full-absolute;
      object-fit: cover;
    }
  }
  .news-date {
    font-size: (18em/16);
    font-style: italic;
    color: $color-1;
    margin: -.5em 0 .6em 0;
  }
  .news-title {
    width: 100%;
    padding: 0;
    font-size: (24em/16);
    font-weight: bold;
    margin: .7em 0 0 0;
    transition: color $transition-ui;
    line-height: 1.25;
  }
  @include media(md) {
    margin-bottom: 1em;
  }
}

.promotion-thumb {
  width: 100%;
}

.person-card {
  transition: color $transition-ui;
  .person-thumb {
    width: 100%;
  }
  .person-title {
    text-align: center;
    font-size: (24em/16);
    margin: .9em 0 0 0;
    font-weight: bold;
  }
  .person-subtitle {
    text-align: center;
    font-size: (24em/16);
    margin: .2em 0 0 0;
  }
}

// Headings
// ----------------------------------------
.card-title {
  overflow: hidden;
  span {
    font-weight: bold;
    display: inline-block;
    font-size: (35em/16);
    line-height: 1.4;
    padding: 0;
    margin: .5em 0 1em -.03em;
    //border-bottom: 4px solid currentColor;
    //text-shadow: -.08em -.08em #ff00ff,
    //-.08em .08em #ff00ff,
    //.08em -.08em #ff00ff,
    //.08em .08em #ff00ff;
    position: relative;
    &::before {
      content: '';
      left: 0;
      bottom: .01em;
      border-bottom: 4px solid currentColor;
      position: absolute;
      width: 100%;
      z-index: -1;
      @include media(md) {
        border-width: 2px;
        bottom: .1em;
      }
    }
  }
}

// Section Card
// ----------------------------------------

.section-card {
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-bottom: (100%*180/620);
  transition: color $transition-ui;

  .text-wrap {
    @extend %full-absolute-bottom-left;
    box-sizing: border-box;
    padding: (20em/16) (22em/16);
  }
  .section-card-title {
    font-size: (40em/16);
    font-weight: bold;
    margin: 0 0 0 0;
    line-height: 1.15;
  }
  .section-card-subtitle {
    font-size: (20em/16);
    margin: .25em 0 0 0;
    line-height: 1.2;
    font-style: italic;
  }
}
