.pre-loader {
  display: none;
}

.page-wrapper {
  margin: 2em 0;
  font-size: 16px;
  @include media(lg) {
    font-size: 14px;
  }
  @include media(md-lg) {
    font-size: 13px;
  }
  @include media(md) {
    font-size: 12px;
  }
  @include media(sm) {
    font-size: 8px;
  }
}

.entry-crumbs {
  width: 100%;
  line-height: 1.4;
  //font-size: (22em/16);
  a, ._gt {
    font-size: (22em/16);
  }
  span:last-child {
    a {
      color: $color-1;
    }
  }
}

.section-wrap {
  border-top: 1px solid currentColor;
  padding: (82em/16) 0 3.875em 0;
  @include media(md) {
    padding: (50em/16) 0 3.875em 0;
  }
}

// Responsive Video
// ----------------------------------------

.jetpack-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
