$sp-h-padding: (15em/16);
$sp-input-height: (60em/16);
$sp-input-height-mobile: (40em/16);
$sp-input-border-radius: 0;

/**
 * Normal select (without select2) rarely used
 **************************************************
 **************************************************
 */
.ts-select {
  position: relative;
  box-sizing: border-box;
  ._place-holder {
    background-color: $color-3;
    border-radius: $sp-input-border-radius;
    color: #ffffff;
    height: $sp-input-height;
    line-height: $sp-input-height;
    font-weight: normal;
    padding: 0 50px 0 $sp-h-padding;
    box-sizing: border-box;
    cursor: pointer;
  }
  ._chevron-wrap {
    position: absolute;
    right: #{$sp-h-padding};
    top: 7px;
    .chevron {
      @include chevron(2px, 15px, 0px, 135);
    }
  }
  // todo
  ._select-wrap {
    display: none;
  }
}

/**
 * Select2
 **************************************************
 **************************************************
 */

.select2-container {
  height: $sp-input-height;
  // on-open
  &.select2-container--open {
    .select2-selection__arrow {
      &::before {
        transform: rotate(-45deg) !important;
        border-color: #ffffff;
      }
    }
  }
}

// just lazy override
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: $sp-input-height;
  line-height: $sp-input-height;
  border-radius: $sp-input-border-radius;
  border: 1px solid $color-border-input;
  color: #ffffff;
  padding: 0 #{$sp-h-padding + .9em} 0 $sp-h-padding;
  box-sizing: border-box;
  @include media(md) {
    line-height: $sp-input-height-mobile;
  }
}

.select2-container .select2-selection--single {
  height: 100%;
  box-sizing: border-box;
}

// chevron
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 1.05em;
  right: #{$sp-h-padding - .1em};
  @include chevron(1px, .9em, 0px, 135);
  b[role='presentation'] {
    display: none;
  }
}

.select2-container--default .select2-selection--single {
  border: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  border-color: $color-border;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $color-1;
}

// Note: em don't work here because of off-template-parts rendering
.select2-results__option {
  font-size: 14px;
  border-top: 1px solid $color-border;
  padding: .5em 1em;
}

/**
 * Input - number
 **************************************************
 **************************************************
 */
.quantity {
  $btn-width: (26em/16);
  //$input-height: 45px;
  position: relative;
  float: left;
  padding: 0 $btn-width;
  box-sizing: border-box;

  input {
    width: 50px;
    height: $sp-input-height;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    border: 1px solid $color-border !important;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    input:focus {
      outline: 0;
    }
  }
  .quantity-button {
    cursor: pointer;
    width: $btn-width;
    text-align: center;
    user-select: none;
    position: absolute;
    line-height: $sp-input-height;
    top: 0;
    border: 1px solid $color-border;
    box-sizing: border-box;
    height: 100%;
    &.quantity-up {
      right: 0;
    }
    &.quantity-down {
      left: 0;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/**
 * Input - text
 **************************************************
 **************************************************
 */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  $font-size: 22;
  border: 1px solid $color-border-input;
  height: #{$sp-input-height / $font-size * 16};
  border-radius: 0;
  box-sizing: border-box;
  font-size: #{$font-size/16}em;
  padding: 0 .75em;
  width: 100%;
  //padding: .5em $sp-h-padding;
  &::placeholder {
    line-height: normal;
  }
}

.form-item {
  display: inline-block;
  position: relative;
  margin: 0 0 (30em/16) 0;
  width: 100%;
  label.error {
    position: absolute;
    bottom: -1.25em;
    left: 0;
    color: $color-danger;
  }
}

/**
 * Button
 **************************************************
 **************************************************
 */
%ts-btn {
  $sp-btn-height: (80em/16);
  background-color: $color-1;
  border-radius: $sp-input-border-radius;
  padding: 0 $sp-h-padding 0 $sp-h-padding;
  color: #ffffff;
  height: $sp-btn-height;
  line-height: $sp-btn-height;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
  transition: background-color $transition-ui, color $transition-ui;
  &:hover {
    //opacity: .75;
    background-color: $color-btn-hover;
    color: #ffffff;
  }

  // Download Style
  // ----------------------------------------
  &.btn-download {
    display: flex;
    flex-direction: column;
    .btn-title {
      display: inline-block;
      font-size: (30em/16);
      line-height: 2;
      width: 100%;
      font-weight: bold;
    }
    .btn-subtitle {
      display: inline-block;
      font-size: (16em/16);
      line-height: 1;
      margin-top: -.25em;
      width: 100%;
    }
  }

  &.btn-primary {
    background-color: $color-1;
    span {
      font-size: (30em/16);
      font-weight: bold;
    }
  }

  &.btn-secondary {
    background-color: #000000;
    span {
      font-size: (30em/16);
      font-weight: bold;
    }
    &:hover {
      background-color: #313131;
    }
  }

}

.ts-btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %ts-btn;
}

// fix a.button
a.ts-btn {
  display: block;
  color: #ffffff;
  &:visited {
    color: #ffffff;
  }
}

/**
 * Pagination
 **************************************************
 **************************************************
 */

//.ts-pagination {
//  display: flex;
//  justify-content: center;
//  $width: (50em/16);
//  font-family: $font-family-4;
//  margin: 3em 0;
//  padding: 0;
//  a {
//    display: inline-block;
//    line-height: $width;
//    width: $width;
//    height: $width;
//    background-color: #000000;
//
//    color: #ffffff;
//    text-align: center;
//    transition: background-color $transition-ui;
//    font-weight: 500;
//  }
//  span {
//    font-size: (24em/16);
//  }
//  .dot {
//    line-height: 1.75em;
//    span {
//      display: inline-block;
//      font-size: (67em/16);
//    }
//  }
//  li {
//    padding: 0 (5em/16);
//    list-style: none;
//  }
//  .active a {
//    background-color: $color-1;
//    color: #ffffff;
//    pointer-events: none;
//  }
//  @include media(sm) {
//    font-size: 1.2em;
//    margin: 1.2em 0;
//  }
//}
.ts-pagination {
  display: flex;
  justify-content: center;
  $width: (50em/16/1.5);
  font-family: $font-family-4;
  margin: 3em 0;
  padding: 0;

  & > * {
    display: inline-block;
    line-height: $width;
    width: $width;
    height: $width;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    transition: background-color $transition-ui;
    font-weight: 500;
    margin: 0 (5em/16/1.5);
    font-size: (24em/16);
  }

  .current {
    pointer-events: none;
    background-color: $color-1;
  }

  .dots {
    background-color: transparent !important;
    line-height: .4em;
    color: #000000;
    font-size: (67em/16);
    width: .75em;
    margin: 0;
  }
}

/**
 * Product Listing components
 **************************************************
 **************************************************
 */

.main-title {
  border-bottom: 2px solid currentColor;
  margin: .6em 0 .6em 0;
  padding: 0 0 .3em 0;
  font-size: (60em/16);
  @include media(sm) {
    border-width: 1px;
  }
  &.margin-bottom-0 {
    margin-bottom: 0;
  }
}

.main-title-2 {
  margin: .5em 0 .6em 0;
  font-size: (60em/16);
  @include media(sm) {
    border-width: 1px;
  }
}

.sub-title {
  font-size: (40em/16);
  font-weight: normal;
  margin: .5em 0 .5em 0;
}

.sub-title-2 {
  font-size: (50em/16);
  font-weight: bold;
  margin: -.2em 0 .3em 0;
}

.section-divider {
  margin: 1.5em 0 2.5em 0;
  background-color: currentColor;
  height: 1px;
  border-width: 0;
}

.ts-tabs {
  display: flex;
  width: 100%;
  //width: auto;
  //flex-wrap: wrap;
  padding: 0;
  margin: 2.6em 0 2em 0;
  cursor: pointer;

  @include media(sm) {
    width: calc(100vw - #{$content-padding-mobile}) !important;
    margin-right: -#{$content-padding-mobile};
    overflow-y: hidden;
    overflow-x: auto;
    .tab-item {
      flex-shrink: 0;
      width: auto !important;
    }
    &.mobile-fill {
      width: 100% !important;
      margin-right: 0;
      .tab-item {
        flex-grow: 1;
      }
    }
  }

  //&.mobile-scroll {
  //  display: inline-flex;
  //  width: auto;
  //  overflow-x: auto;
  //  overflow-y: hidden;
  //  max-width: calc(100vw - #{$content-padding-mobile});
  //  .tab-item {
  //    //float: left;
  //    flex-shrink: 0;
  //    width: auto;
  //  }
  //}

  .tab-item {
    box-sizing: border-box;
    background-color: $color-btn;
    min-height: $tab-height;
    list-style: none;
    width: 100%;
    text-align: center;
    //border-bottom: 2px solid #000000;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-top: (2em/16) solid #000000;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    a {
      line-height: 1.2;
      height: 100%;
      min-height: $tab-height;
      width: 100%;
      box-sizing: border-box;
      border-right: (1em/16) solid #ffffff;
      border-left: (1em/16) px solid #ffffff;
      display: flex;
      justify-content: center;
      //align-items: center;
      &:hover {
        //font-weight: bold;
        //color: #000000;
      }
    }
    &:first-child a {
      border-left: none;
    }
    &:last-child a {
      border-right: none;
    }
    span {
      //display: inline-block;
      padding: .35em .5em;
      font-size: (30em/16);
      //display: flex;
      //align-content: center;
    }
    &.active {
      pointer-events: none;
      background-color: black;
      a {
        color: #ffffff;
      }
    }
  }

  // Variations
  // ----------------------------------------
  &.tab-3 {
    @include media(xs) {
      .tab-item span {
        font-size: (22em/16) !important;
      }
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }

  // for category inside
  // ----------------------------------------
  .category-content {
    display: none;
    &.active {
      display: flex;
    }
  }
}

// Toggle Button
// ----------------------------------------

.btn-toggle-container {
  padding: 0;
  margin: 2em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  .btn-toggle {
    box-sizing: border-box;
    background-color: $color-btn;
    height: $tab-height;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: (15em/16);
    margin-top: (15em/16);
    white-space: nowrap;
    a {
      line-height: $tab-height;
      display: inline-block;
      padding: 0 2em;
      cursor: pointer;
    }
    span {
      font-size: (30em/16);
    }
    &.active {
      pointer-events: none;
      background-color: $color-1;
      a {
        color: #ffffff;
      }
    }
  }
  @include media(md) {
    height: $tab-height;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100vw - #{$content-padding-mobile});
    margin-right: -#{$content-padding-mobile};
    flex-wrap: nowrap;
    margin-top: 3em;
    .btn-toggle {
      margin-top: 0;
    }
  }
}

// Gallery
// ----------------------------------------

.gallery-container {
  $gutter-width: (40em/16);
  width: 100%;
  figure {
    margin: 0;
  }
  figcaption {
    display: none;
  }
  .gallery-item {
    display: block;
    padding: #{$gutter-width/2} 0;
    .gallery-thumb-wrap {
      background-color: #555555;
      display: block;
      overflow: hidden;
    }
    .gallery-thumb {
      width: 100%;
      display: block;
      object-fit: cover;
      transition: opacity $transition-ui, transform .25s ease-in-out;
    }
    &:hover {
      .gallery-thumb {
        opacity: .6;
        transform: scale(1.1);
      }
    }
  }
}

// Photo Viewer (override)
// ----------------------------------------
.pswp {
  .pswp__button--arrow--right, .pswp__button--arrow--left {
    $width: (60em/16);
    width: $width;
    height: $width;
    @include chevron((2em/16), 2em, .5em, 45, #ffffff);
    opacity: 1;
    background-color: $color-1;
    &:hover {
      background-color: $color-btn-hover;
    }
    &::before {
      background: none;
      left: -.25em;
    }
  }
  .pswp__button--arrow--left {
    &::before {
      transform: rotate(-135deg);
      left: -.7em;
    }
  }
  // hidden
  .pswp__counter, .pswp__button--share, .pswp__button--fs, .pswp__button--zoom {
    display: none;
  }

  // always display
  .pswp__ui--idle {
    .pswp__top-bar {
      opacity: 1;
    }
  }

  .pswp__button--close {
    width: (60em/16);
    height: (60em/16);
    background: none;
    //background-color: #00b3ff;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 75%;
      height: (2em/16);
      transform: rotate(45deg);
      background-color: #ffffff;
      left: .5em;
      top: 1.75em;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
      background-color: transparent;
      &::before, &::after {
        background-color: $color-1;
      }
    }
    @include media(sm) {
      transform: scale(.75);
    }
  }

  // pswp__button--zoom
  @include media(md) {
    .pswp__button--arrow--right,
    .pswp__button--arrow--left,
    .pswp__button--zoom {
      display: none;
    }
    .pswp__button--fs {
      display: none;
    }

  }
}

// Accordion
// ----------------------------------------
.ts-accordion {
  $border-color: #555555;
  // normalize
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }

  .has-children {
    @include chevron(1px, 1.4em, 0, 135, #000000);
    &::before {
      position: absolute;
      top: 2em;
      left: auto;
      right: .75em;
    }
  }

  &>.acc-item {
    position: relative;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
  }

  .acc-label {
    width: 100%;
    font-size: (30em/16);
    display: inline-block;
    padding: .7em 0;
    line-height: 1.2;
    //transition: color .05s;
    &:hover.color-1 {
      color: #ff5f64;
    }
  }

  .sub-content {
    display: none;
  }

  .sub-item {
    margin: 0 0 1em 0;
    .acc-label {
      font-size: (22em/16);
      padding: .4em 0;
      display: flex;
      &:first-child {
        padding-top: 0;
        margin-top: -.2em;
      }
    }
  }

  /* expanded */
  .expanded {
    & > .sub-content {
      display: block;
    }
    & > a {
      font-weight: bold;
    }
    &::before {
      transform: rotate(-45deg) !important;
    }
  }

  @include media(sm) {
    .sub-item {
      .acc-label {
        font-size: (26em/16);
        &:first-child {
          padding-top: 0;
          margin-top: 0;
        }
      }
    }
  }

  // Content
  // ----------------------------------------
  ._time {
    min-width: 7.5em;
  }
  ._desc {
  }

}
