#footer-bottom-push {
  display: table-row;
  height: 100%;
}

.site-footer {
  background: $color-bg-gray;
  font-size: 16px;
  line-height: 1.15; // fix line-height (optimized for English)
  display: table-row;
  width: 100%;
  position: relative;
  z-index: 9;
  @include media(lg) {
    font-size: 14px;
  }

  // Normalize
  // ----------------------------------------
  a {
    color: $color-font-nav;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    box-sizing: border-box;
  }

  /* current */
  li.current-menu-item, li.current_page_parent {
    color: $color-1;
    &>a {
      color: $color-1;
    }
  }
  .footer-top{
    @extend %layout-outer;
  }
  .footer-inner {
    @extend %layout-inner;
    overflow: hidden;
  }

  ul.footer-content {
    display: flex;
    position: relative;
    width: 100%;
    $gutter-width: (52em/16);

    // Customize the shared menu for footer
    // ----------------------------------------
    & > li:first-child { // home
      display: none !important; // hide
    }
    & > .menu-item:last-child > a {
      display: none; // hide the parent menu for the sake of design
    }

    // Maximized only
    // ----------------------------------------
    @include media(nav-plus) {
      width: calc(100% + #{$gutter-width});
      margin-left: -#{$gutter-width / 2};

      & > li:nth-child(2) { // an introduction
        min-width: (226em/16);
        flex-grow: 0;
      }
      & > li:nth-child(3) { // Honda Bike
        min-width: #{$gutter-width + (293em/16)};
        max-width: #{$gutter-width + (293em/16)};
        //max-width: 293px;
      }
      & > li:nth-child(4) { // CUB House
        min-width: #{$gutter-width + (370em/16)};
        max-width: #{$gutter-width + (370em/16)};
        //max-width: 370px;
      }

      & > .menu-item {
        padding: $gutter-width / 2;
        a {
          font-size: (20em/16);
          padding: .2em 0;
          transition: color $transition-ui;
          @media (hover: hover) {
            &:hover {
              color: $color-1;
            }
          }
        }
        & > a {
          width: 100%;
          border: 1px solid $color-font-nav;
          border-left: none;
          border-right: none;
          padding: .25em 0;
          margin-bottom: .75em;
          font-size: (24em/16);
        }
      }
      .sub-menu {
        column-count: 2;
        column-gap: 1.4em;
      }

      // The last set of menu items (footer only)
      // ----------------------------------------
      & > .menu-item:last-child {
        flex-grow: 1;
        & > .sub-menu {
          border: 1px solid $color-font-nav;
          border-left: none;
          border-right: none;
          padding: 0 0;
          display: block;
          column-count: 1;
          column-gap: 0;
          li {
            width: 100%;
            a {
              padding: .5em 0;
            }
          }
        }
      }
    }
  }

  // Override Mobile Menu form _nav.scss
  // ****************************************
  @include media(nav) {
    .footer-content {
      flex-direction: column;
      margin-top: .5em;
      border-top: 1px solid $color-font-nav;
      .menu-item {
        &.menu-item-has-children {
          //@include chevron(.1em, .8em, 0, 135, $color-font-nav);
        }
        &::before {
          border-color: $color-font-nav;
        }
        a {
          border: 0 !important;
          //color: $color-font-nav;
        }
      }

      & > .menu-item {
        border-bottom: 1px solid $color-font-nav;
      }



      // Special footer element for the sake of design
      // ----------------------------------------
      & > .menu-item:last-child {
        padding: .75em 0;
        border: 0;
        &::before {
          display: none;
        }
        .sub-menu {
          display: block;
          a {
            font-size: (17.5em/14);
            padding: .5em 0;
          }
        }
      }
    }
  } // end media(nav)

  // The brand
  // ****************************************
  .brand-wrap {
    display: flex;
    .custom-logo-link {
      float: left;
      .custom-logo {
        align-self: center;
        height: (63em/16);
        @include media(md) {
          height: (32em/14);
        }
      }
    }
    ._title {
      font-weight: 500;
      font-size: (50em/16);
      color: $color-1;
      float: left;
      margin: .45em 0 0 .5em;
      font-family: $font-family-2;
      @include media(md) {
        font-size: (25em/14);
      }
    }
    @include media(sm) {
      margin-top: 1.5em;
    }
  }

}

// Footer Bottom
// ****************************************
.footer-bottom {
  @extend %layout-outer;
  background: $color-1;
  .footer-inner {
    display: flex;
    height: $footer-bottom-height;
  }
  .footer-copyright {
    color: $color-font-nav;
    font-size: (18em/16);
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  // Social (override from _nav.scss)
  // ----------------------------------------
  .menu-social-wrap {
    margin: 0 0 0 auto;
    position: relative;
    padding: 0;
    .menu-social {
      padding-top: 0;
      height: 100%;
      flex-wrap: nowrap;
      //@include media(nav) {
      //  flex-wrap: nowrap;
      //}
    }

    li {
      display: flex;
    }

    /* show only white icon */
    .hide-nav {
      display: block !important;
    }
    .show-nav {
      display: none !important;
    }

    .menu-label {
      font-size: (20em/16);
      margin: 0 .5em 0 0;
      color: $color-font-nav;
    }
    .menu-icon {
      height: 100%;
      a {
        padding: 0 .45em;
      }
    }

    @include media(nav) {
      flex-wrap: nowrap;
    }
  }

  @include media(md) {
    padding: 1em;
    font-size: 12px;
    .footer-inner {
      flex-direction: column-reverse;
      height: auto;
      padding: 1em;
    }
    .footer-copyright {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: (9em/12);
      margin-top: 1.75em;
    }
    .menu-social-wrap {
      margin: 0 auto;
      .menu-social {
        flex-wrap: wrap;
        justify-content: center;
      }
      .menu-label {
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: (10em/12);
        height: 1em;
        margin-bottom: 1.25em;
      }
      .menu-icon {
        height: auto;
        //width: 20%;
        a {
          padding: 0 1.3em;
        }
        img {
          height: 2.5em;
        }
      }
    }
  }

}
