
body {
  font-family: $font-family-1;
}

// Common Layouts
// ----------------------------------------

%layout-outer {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $content-padding;
  position: relative;
  &.no-pad {
    padding: 0;
  }
  @include media(md) {
    padding: 0 $content-padding-mobile;
  }
}

%layout-inner {
  width: 100%;
  max-width: $content-width;
  position: relative;
  &.pad-layout {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  &.width-small {
    max-width: 400px;
  }
  &.width-md {
    max-width: 600px;
  }
}

// Note: todo should rename main-* to this
.layout-outer {
  @extend %layout-outer;
}

.layout-inner {
  @extend %layout-inner;
}

.layout-main {
  padding-top: $nav-height;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: table;
  @include media(nav) {
    padding-top: $nav-height-mobile;
  }
}

// Layout Theme (the default theme is 'Light')
// ----------------------------------------

%theme-light {
  background-color: $color-bg__light;
  color: $color-font__light;
  a {
    text-decoration: none;
    color: $color-font__light;
    @media (hover: hover) {
      &:hover {
        color: $color-1;
      }
    }
  }
  .ts-btn, a.ts-btn {
    background-color: $color-button__light;
    @media (hover: hover) {
      &:hover {
        background-color: $color-button-hover__light;
        color: #ffffff;
      }
    }
  }
  .color-primary {
    color: $color-1;
  }
  // pagination
  .ts-pagination {
    a {
      color: #ffffff;
      &:hover {
        color: $color-1;
      }
    }
  }
}

.theme-dark {
  background-color: $color-bg__dark;
  color: $color-font__dark;
  a {
    color: $color-font__dark;
    @media (hover: hover) {
      &:hover {
        color: $color-1;
      }
    }
    ._chevron {
      &::before {
        border-color: #ffffff;
      }
    }
    &:hover {
      ._chevron {
        &::before {
        }
      }
    }
  }
}

%theme-cub {
  background-color: $color-bg__light;
  color: $color-font__light;

  a {
    color: $color-font__light;
    @media (hover: hover) {
      &:hover {
        color: $color-cub;
      }
    }
  }
  .ts-btn {
    background-color: $color-button__cub;
    color: #ffffff;
    @media (hover: hover) {
      &:hover {
        background-color: $color-button-hover__cub;
        color: #ffffff;
      }
    }
  }
  .color-primary {
    color: $color-cub;
  }

  // Fix by overriding
  // ----------------------------------------
  .section-card {
    color: #ffffff;
    @media (hover: hover) {
      &:hover {
        color: $color-cub;
      }
    }
  }
  .news-card {
    .news-date {
      color: $color-cub;
    }
  }
  .carousel-wrap {
    .slick-arrow {
      background-color: $color-button__cub;
      &:hover {
        background-color: $color-button-hover__cub;
      }
    }
    .carousel-item {
      color: #ffffff;
      @media (hover: hover) {
        &:hover {
          color: $color-cub;
        }
      }
    }
  }

  // pagination
  .ts-pagination {
    a {
      color: #ffffff;
      &:hover {
        color: $color-cub;
      }
    }
  }
}

.theme-light, body {
  @extend %theme-light;
}

.theme-cub {
  @extend %theme-cub;
}
