// Menu Layout
// ****************************************

.main-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(#eb1b24, #c70c1f);
  box-sizing: border-box;
  padding: 0 $content-padding;
  font-family: $font-family-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all .4s;
  line-height: 1.15; // fix line-height (optimized for English)
  @include media(nav) {
    background: #ec1b2e;
    padding: 0 $content-padding-mobile;
  }
  .nav-inner {
    width: 100%;
    max-width: $content-width;
    display: flex;
    height: $nav-height;
    position: relative;

    @include media(nav) {
      height: $nav-height-mobile;
      justify-content: center;
    }

    // ----- Logo
    .nav-logo-wrap {
      a {
        display: block;
        height: 100%;
        width: $nav-height;
        margin: 0 .9em 0 0;
        @include media(nav) {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        img {
          display: block;
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }
}

/* fixes */
body.admin-bar .main-navigation {
  top: 32px; // the admin-bar height
}

/* Menu Content Wrapper */
.menu-content-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 20px;
  @include media(nav) {
    display: none;
    position: fixed;
    top: $nav-height-mobile;
    left: 0;
    margin: 0;
    background-color: #ffffff;
    max-height: calc(100vh - #{$nav-height-mobile});
    overflow: auto;
    box-sizing: border-box;
  }
}

// Menu Content
// ****************************************

#primary-menu { // ul
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

  // Normalize
  // ----------------------------------------
  a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    box-sizing: border-box;
    cursor: pointer;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }

  /* Maximized */
  @include media(nav-plus) {

    // Non-sub Menu
    // ----------------------------------------
    & > .menu-item {
      height: 100%;
      letter-spacing: .01em;
      padding: 0;
      position: relative;
      & > a {
        font-size: (24em/16);
        line-height: $nav-height;
        display: inline-block;
        text-decoration: none;
        color: $color-font-nav;
        padding: 0 1em;
        font-weight: normal;
        z-index: 2;
        position: relative;
        //transition: all $transition-ui;
      }
      &:hover {
        & > a {
          background-color: #ffffff;
          color: black;
        }
        & > .sub-menu {
          opacity: 1;
          pointer-events: auto;
        }
      }

      /* active */
      &.current-menu-item, &.current_page_parent {
        a {
          color: #000000;
          font-weight: bold;
          background-color: #ffffff;
        }
      }
    }

    // Sub Menu
    // ----------------------------------------
    .sub-menu { // ul
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 1em 0;
      background-color: white;
      width: 16em;
      opacity: 0;
      transition: opacity $transition-ui;
      pointer-events: none;
      box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .05);
      z-index: 1;
      a {
        color: black;
        font-size: (22em/16);
        padding: .3em 1.05em;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 0;
        &:hover {
          color: $color-1;
        }
      }
      .menu-item { // li
        list-style: none;

        /* active */
        &.current-menu-item, &.current_page_parent {
          a {
            color: $color-1;
            font-weight: normal;
          }
        }
      }
    }
  }
}

// Mobile Menu - Content
// Shared with footer
// ****************************************

@include media(nav) {
  #primary-menu {
    width: 100vw;
    max-width: 460px;
    padding: .5em $content-padding-mobile;
    flex-direction: column;
    background: #ffffff;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
  }
  .footer-content, #primary-menu {
    & > .menu-item { // li
      border-bottom: 1px solid $color-font-nav-2;
      box-sizing: border-box;
      position: relative;
      a {
        width: 100%;
        display: inline-block;
        padding: .45em 0;
      }
      & > a {
        font-size: (20em/14);
      }
      &.menu-item-has-children {
        @include chevron(.1em, .7em, 0, 135, $color-font-nav-2);
        &::before {
          position: absolute;
          top: 1.2em;
          left: auto;
          right: .75em;
        }
      }
      width: 100%;
    }

    /* current */
    li.current-menu-item, li.current_page_parent {
      color: $color-1;
      & > a {
        font-weight: bold;
        color: $color-1;
      }
    }

    // Sub Menu
    // ----------------------------------------
    .sub-menu {
      display: none;
      a {
        font-size: (15em/14);
        padding: .25em 1.25em;
      }
      .menu-item:last-child a {
        padding-bottom: 1em;
      }
    }

    /* expanded */
    .expanded {
      & > .sub-menu {
        display: block;
      }
      &::before {
        transform: rotate(-45deg) !important;
      }
    }
  }
}

// Mobile Menu - Mechanism
// ****************************************
#nav-toggle {
  display: inline-block;
  cursor: pointer;
  padding: 15px 0; // adjust for vertical area
  top: 7px; // adjust position (adjust padding first)
  left: 0;
  position: absolute;
  transition: all 300ms ease-in-out;
  z-index: 9;
  width: $hamburger-width;
  @include media(nav-plus) {
    display: none;
  }
  span {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: $hamburger-width;
    background: $color-font-nav;
    position: absolute;
    display: block;
    content: '';
    //transition: all .3s ease-in-out;
    &:after, &:before {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: $hamburger-width;
      background: $color-font-nav;
      position: absolute;
      display: block;
      content: '';
      transition: all .3s ease-in-out;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
}

// Mobile - The backdrop
// ----------------------------------------
#ts-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .85);
  z-index: 98;
}

// Mobile - Toggle Mobile Menu
// ----------------------------------------
.mobile-menu-expanded {
  .main-navigation {
    #nav-toggle {
      left: -3px;
      span {
        background-color: transparent;
        &:before {
          top: #{$hamburger-space / 2 - 4px};
          transform: rotate(45deg);
        }
        &:after {
          top: #{$hamburger-space / 2 - 4px};
          transform: rotate(-45deg);
        }
      }
    }
    .menu-content-wrap {
      display: block;
    }
  }
  #ts-backdrop {
    display: block;
  }
}

@include media(nav-plus) {
  #nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

// Social Part (Both Header and Footer)
// ****************************************
.menu-social-wrap {
  display: flex;
  margin: 0 0 0 60px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: .8em;
    height: 80%;
    li {
      list-style: none;
      color: #ffffff;
      display: flex;
      align-items: center;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .menu-label {
    font-size: (16em/16);
    margin-right: .5em;
  }
  .menu-icon {
    a {
      padding: 0 .45em;
      display: block;
    }
    .menu-icon-img {
      height: 1.85em;
      transition: opacity $transition-ui;
      align-self: center;
      &:hover {
        opacity: .8;
        //transform: scale(1.1);
      }
    }
  }

  @include media(nav) {
    position: relative;
    margin: 0;
    padding: 1em $content-padding-mobile 1.5em $content-padding-mobile;
    ul {
      flex-wrap: wrap;
      padding: 0;
      li {
        display: block;
      }
    }
    .menu-label {
      font-size: (10em/14);
      margin: 0 0 .75em 0;
      color: $color-font-nav-2;
      width: 100%;
    }
    .menu-icon {
      a {
        padding: 0 1.9em 0 0;
      }
    }
  }
}

// Other Navigation template-parts
// ****************************************
// ****************************************
// ****************************************

// Back to top
// ----------------------------------------
#back-to-top {
  width: 2em;
  height: 2em;
  background-color: $color-1;
  border-radius: .25em;
  position: fixed;
  z-index: 9;
  right: 5vw;
  bottom: 2vh;
  display: flex;
  transition: all .4s;
  opacity: 0;
  cursor: pointer;
  @include chevron(1px, 1em, 0px, -45);
  &::before {
    top: .6em;
    left: .25em;
  }
}

body.scrolled-far {
  #back-to-top {
    opacity: 1;
  }
}

