#ts-alert-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;

  @include media(lg) {
    font-size: 14px;
  }
  @include media(md-lg) {
    font-size: 13px;
  }
  @include media(md) {
    font-size: 12px;
  }
  @include media(sm) {
    font-size: 9px;
  }

}
.ts-alert {
  $alert-height: (100em/16);

  //display: none;
  pointer-events: auto;
  position: relative;
  top: 0;
  margin: 0 auto 1em auto;
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  max-width: $content-width;
  display: block;
  overflow: hidden;

  .alert-icon {
    //width: (60em/16);
    height: auto;
    position: absolute;
    top: 1.2em;
    left: 2.2em;
    background: transparent url('../img/icon-alert.png') no-repeat center;
    background-size: 100%;
    width: (60em/16);
    padding-bottom: (60em/16);
    z-index: 1;
  }
  .alert-text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: $alert-height;
    flex-wrap: wrap;
    padding: 1.5em 5em 1.5em 8em;
    .text-inner {
      font-size: (22em/16);
      color: #ffffff;
      p {
        margin: .5em 0;
        &:first-child {
          margin-top: .6em;
        }
      }
    }
  }
  .alert-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    height: $alert-height;
    cursor: pointer;
    z-index: 9;
    .close-inner {
      position: relative;
      width: 3em;
      height: 3em;
      top: 2.9em;
      right: -1.3em;
      line-height: 1.2;
      //top: -1em;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: (2em/16);
        transform: rotate(45deg);
        background-color: #ffffff;
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  // Customize
  // ----------------------------------------
  .alert-time {
    font-weight: bold;
    margin-right: 1em;
    display: inline-block;
    @include media(sm) {
      margin-bottom: .25em;
      width: 100%;
    }
  }

  // Theme
  // ----------------------------------------

  &.theme-cub {
    background-color: $color-cub;
  }
}
