.page-aphonda, .page-cub-house {

  // Background
  // ----------------------------------------
  .banner-bg-wrap {
    @extend %full-absolute;
    max-height: 100vh;
    overflow: hidden;
  }
  .banner-bg {
    //@extend %full-absolute;
    //background: black url('../img/bg-banner-bike.jpg') no-repeat center 0;
    background: black url('http://hondamotorshow.democnc.com/app/themes/hondamotorshow/assets/img/bg-banner-bike.jpg') no-repeat center 0;
    background-size: contain;
    max-width: 1680px;
    margin: 0 auto;
    z-index: 0;
    height: 100vh;
    @include media(md) {
      background-size: 100%;
      //background-position: 35% 0em;
    }
    @include media(sm) {
      background-size: 160%;
      background-position: center 8vw;
      //background-position: 40% 0em;
    }
  }

  // Banner
  // ----------------------------------------
  .banner-page {
    position: relative;
    margin-bottom: 3em;
    h1 {
      font-size: (100em/16);
      line-height: 1.05;
      margin: 4.5em 0 0 0;
      @include media(xl) {
        margin: 20vw 0 0 0;
      }
    }
    h2 {
      font-size: (50em/16);
      font-style: italic;
      margin: 0;
      //margin: 0 0 -.5em 0;
    }
    .ts-btn {
      width: 100%;
      max-width: (320em/16);
      position: absolute;
      bottom: .5em;
      right: 0;
    }
    @include media(sm) {
      .ts-btn {
        position: static;
        max-width: none;
      }
      h1 {
        font-size: 13vw;
        line-height: 1.05;
        margin: 4.5em 0 0 0;
      }
      h2 {
        font-size: (30em/16);
        font-style: italic;
        margin: 0 0 1.5em 0;
      }
    }
  }

  // Highlight
  // ----------------------------------------
  .highlight-wrap {
    display: flex;
    width: 100%;
    margin: 0 0 (20em/16) 0;
  }
  .title-wrap {
    width: 30%;
  }
  .carousel-container-wrap {
    width: 70%;
  }
  @include media(md) {
    .highlight-wrap {
      flex-wrap: wrap;
    }
    .title-wrap {
      width: 100%;
    }
    .carousel-container-wrap {
      width: 100%;
    }
  }

  // Components
  // ----------------------------------------
  .section-wrap {
    &>a {
      position: relative;
      width: 100%;
      display: inline-block;
      &:hover {
        ._chevron::before {
          border-color: $color-1;
        }
      }
    }
  }
  ._chevron {
    @include chevron(.1em, 2.25em, 0, 45, #000000);
    position: absolute;
    right: 0;
    top: 1em;
  }
  .section-title {
    font-size: (50em/16);
    margin: -.25em 0 0 0;
    text-transform: uppercase;
    position: relative;
  }
  .section-subtitle {
    font-size: (20em/16);
    font-style: italic;
    font-weight: normal;
    margin: 0 0 1.6em 0;
    @include media(sm) {
      margin: .25em 0 2.25em 0;
    }
  }
}

// Cub House
// ----------------------------------------
.page-cub-house {

  // Background
  // ----------------------------------------
  .banner-bg {
    background: transparent url('../img/bg-banner-cub.jpg') no-repeat center 0;
    background-size: contain;
    //max-height: 600px;
    z-index: 0;
    @include media(md) {
      background-size: 100%;
      //background-position: 35% 0em;
    }
    @include media(xs) {
      background-size: 180%;
      background-position: 40% 0em;
    }
  }
}
