.single-post {
  .layout-inner {
  }

  article {
    margin: 2em 0 4em 0;
    font-size: 16px;
    @include media(lg) {
      font-size: 14px;
    }
    @include media(md) {
      font-size: 12px;
    }
    @include media(sm) {
      font-size: 9px;
    }
  }

  .entry-content, .post-thumbnail {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
  }
  .entry-content {
  }

  .post-thumbnail {
    margin-top: 2em;
    img {
      width: 100%;
      height: auto;
    }
    @include media(md) {
      margin-top: 2.5em;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }

  a {
    text-decoration: none;
  }

  h4 {
    font-size: (30em/16);
    font-style: italic;
    margin: 1.5em 0;
    line-height: 1.4;
  }

  p {
    font-size: (22em/16);
    margin: 1.5em 0;
    line-height: 1.4;
    @include media(sm) {
      font-size: (26em/16);
    }
  }

  .wp-block-image {
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      @include media(md) {
        //width: 100vw;
        //margin-left: -#{$content-padding-mobile};
        //margin-right: -#{$content-padding-mobile};
      }
    }
  }

  // Header Section
  // ----------------------------------------
  .entry-header {
    display: flex;
    flex-wrap: wrap;
  }

  .entry-back {
    width: 100%;
    margin: 1.25em 0 1em 0;
    @include chevron(1px, 1.2em, .5em, -135, currentColor);
    &::before {
      left: -.4em;
      margin-right: 1em;
      transition: none;
    }
    font-size: (22em/16);
    @include media(sm) {
      span {display: none}
    }
  }

  .entry-title {
    width: 100%;
    font-size: (40em/16);
    border-bottom: (1em/16) solid currentColor;
    margin: .85em 0;
    padding: 0 0 .4em 0;
    line-height: 1.3;
    @include media(sm) {
      margin: 1em 0;
    }
  }

  .entry-meta-date a {
    font-size: (20em/16);
    font-style: italic;
    color: $color-1;
    margin: 0;
  }

  .entry-shares {
    a {
      &:hover {
        opacity: .8;
      }
    }

    $breakpoint: 1600px;
    @media (min-width: #{$breakpoint}) {
      position: fixed;
      right: calc(50% + #{$content-width/2} + 1.5em);
      top: 20.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      ._label {
        font-size: (20em/16);
        font-style: italic;
        margin: 0 0 .5em 0;
      }
      a {
        display: inline-block;
        padding: .5em;
        &:hover {
          opacity: .8;
        }
      }
      ._icon {
        height: (30em/16);
      }
    }
    @media (max-width: #{$breakpoint - 1}) {
      margin: -.75em 0 0 auto;
      display: flex;
      align-items: center;
      ._label {
        font-size: (20em/16);
        font-style: italic;
        margin: -.1em .25em 0 0;
        //margin-top: -.5em;
      }
      a {
        padding: .5em;
        height: (30em/16);
      }
      ._icon {
        height: 100%;
      }
    }
    @include media(sm) {
      margin: -1.1em 0 0 auto;
      ._label {
        margin: .5em .5em 0 0;
      }
      ._icon {
        height: 3em;
      }
    }
  }

  // Embedded Video Support
  // ----------------------------------------
  figure {
    margin: 2em 0;
  }
  //.wp-block-embed-youtube {
  //  margin: 0;
  //}

  // Image Adjustments
  // ----------------------------------------
  p {
    & > img.alignleft, & > img.aligncenter, & > img.alignright {
      @include media(md) {
        width: 100%;
        position: relative;
        height: auto;
        display: block;
        max-width: 500px;
        margin: 0 auto;
      }
    }
    & > img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      height: auto;
    }
  }
  // equal width
  p {
    @include media(md-plus) {
      & > img:nth-last-child(3),
      & > img:nth-last-child(3) ~ img {
        width: (100%/3);
        height: auto;
      }
    }
  }
  p.image-container {
    @include media(md-plus) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      align-items: center;
      &>img {
        margin: .5em;
      }
    }
  }

}
