.page-single-model {

  $color-border: #898989;
  .site-main {
    overflow: hidden;
  }

  .layout-outer {
    overflow-x: hidden;
    overflow-y: auto;
  }


  // override font-size
  .page-wrapper {
    @include media(xl) {
      font-size: 14px;
    }
    @include media(lg) {
      font-size: 12px;
    }
    @include media(md-lg) {
      font-size: 11px;
    }
    @include media(md) {
      font-size: 10px;
    }
    @include media(sm) {
      font-size: 9px;
    }
  }

  // Header Section
  // ----------------------------------------
  .entry-header {
    display: flex;
    flex-wrap: wrap;
  }

  .entry-title-wrap {
    position: relative;
    display: flex;
    width: 100%;
  }
  .entry-title {
    font-size: (60em/16);
    text-align: center;
    width: 100%;
    margin: .5em 0 .6em 0;
    &.title-full-width {
      width: 100%;
      text-align: left;
    }
  }

  .entry-back {
    margin: 2.25em 0 1em 0;
    @include chevron(1px, 1.2em, .5em, -135, currentColor);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    &::before {
      left: -.4em;
      margin-right: 1em;
      transition: none;
    }
    font-size: (22em/16);
    @include media(sm) {
      span {display: none}
    }
  }

  $breakpoint: 1600px;
  .entry-shares {

    // Hide until initialized by JS
    &:not(.initialized) {
      display: none !important;
    }

    display: none;
    a {
      &:hover {
        opacity: .8;
      }
    }

    @media (min-width: #{$breakpoint}) {
      position: absolute;
      //right: calc(50% + #{$content-width/2} + 1.5em);
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      transform: translateX(-150%);
      ._label {
        font-size: (20em/16);
        font-style: italic;
        margin: 0 0 .5em 0;
      }
      a {
        display: inline-block;
        padding: .5em;
        &:hover {
          opacity: .8;
        }
      }
      ._icon {
        height: (30em/16);
      }
    }
    @media (max-width: #{$breakpoint - 1}) {
      margin: -.75em 0 0 auto;
      display: flex;
      align-items: center;
      ._label {
        font-size: (20em/16);
        font-style: italic;
        margin: -.1em .25em 0 0;
      }
      a {
        padding: .5em;
        height: (30em/16);
      }
      ._icon {
        height: 100%;
      }
    }
    @include media(xl) {
      ._icon {
        height: 3em;
      }
    }
    @include media(md) {
      margin: -1.1em 0 0 auto;
      ._label {
        font-size: 1.25em !important;
        margin: 0em .5em 0 0;
      }
      ._icon {
        height: 3em;
      }
    }
  }

  @media (min-width: #{$breakpoint}) {
    ._btn-share-wrap {
      display: none;
    }
  }


  // Before Content
  // ----------------------------------------
  .full-width-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #000000;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    ._banner-img-wrap {
      width: 59%;
      img {
        width: 100%;
        display: block;
      }
    }
    .banner-text {
      color: #ffffff;
      width: 41%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      box-sizing: border-box;
      padding: 1em;
      position: relative;
      flex-wrap: wrap;
      &>* {
        white-space: normal;
        width: 100%;
        align-self: center;
      }
      h2 {
        font-size: (50em/16);
        margin: 0 0 .1em 0;
        display: inline-block;
      }
      h3 {
        font-size: (30em/16);
        font-weight: normal;
        margin: 0 0 .27em 0;
      }
      p {
        display: inline-block;
        width: 100%;
        max-width: (290em/16);
        font-size: (22em/16);
        line-height: 1.6;
      }
      .sup {
        font-size: 1em;
        font-weight: normal;
      }
    }
  }

  // After Banner Content
  // ----------------------------------------
  .actual-content {
    position: relative;
  }

  .model-content {
    margin-top: 6em;
    display: flex;
    position: relative;
    img {
      align-self: center;
    }
  }

  .model-info-container {
    width: 43.1%;
    box-sizing: border-box;
    padding: 0 0 0 (40em/16);
  }

  .model-info-title {
    font-size: 1em;
    span {
      font-size: (35em/16);
    }
    font-weight: bold;
    border-bottom: (4em/16) solid currentColor;
    text-shadow: -.08em -.08em #ffffff,
    -.08em .08em #ffffff,
    .08em -.08em #ffffff,
    .08em .08em #ffffff;
    line-height: 1;
    display: inline-block;
    margin: 0 0 1em 0;
  }

  .model-info {
    width: 100%;
    .model-info-label {
      color: $color-border;
      font-size: (20em/16);
      font-style: italic;
      margin: .18em 0;
    }
    p {
      font-size: (30em/16);
      margin: 0 0;
      line-height: 1.2;
    }
    border-bottom: 1px solid $color-border;
    padding: 1.1em 0 1.48em 0;
    &:last-child {
      border-bottom: none;
    }
  }

  // Award (a variation of .model-info-containter)
  // ----------------------------------------
  .award-container {
    width: 100%;
    padding: 0;
  }
  .awards {
    $gutter-width: (40em/16);
    width: calc(100% + #{$gutter-width});
    margin-left: -#{$gutter-width / 2};
    display: flex;
    flex-wrap: wrap;
    .model-info-wrap {
      padding: 0 #{$gutter-width / 2};
      box-sizing: border-box;
      width: 50%;
    }
    .model-info {
      border-bottom: 1px solid $color-border;
    }
    @include media(sm) {
      .model-info-wrap {
        width: 100%;
      }
    }
  }


  // Award Detail
  // ----------------------------------------
  .award-detail {
    font-size: (22em/16);
    line-height: 2;
    text-indent: 2em;
    margin: 3em 0 3em 0;
  }

  // Info Button
  // ----------------------------------------
  .bottom-btn-wrap {
    width: 100%;
    display: flex;
    margin: 2.5em 0 2.5em 0;
  }

  ._btn-share-wrap {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    .entry-shares {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      box-shadow: 0px 0px .7em 1px rgba(0, 0, 0, .25);
      transform: translateY(-100%);
      padding: .5em 1.25em;
      width: auto;
      display: flex;
      min-width: 16.5em;
      //display: block;
      //justify-content: flex-start;
      opacity: 0;
      align-items: flex-start;
      &>* {
        flex-shrink: 0;
      }
      a {
        height: auto;
        display: block;
        align-self: center;
        img {
          align-self: center;
          display: block;
        }
      }
      ._label {
        align-self: center;
        font-size: (14em/16);
        margin: 0;
        margin-right: .5em;
      }
    }
    &.active {
      .entry-shares {
        opacity: 1;
      }
      ._btn-share {
        background-color: $color-btn-active;
      }
    }
  }

  ._btn-share {
    width: (80em/16);
    height: (80em/16);
    //margin-left: (20em/16);
    background: $color-1 url('../img/icon-share.png') no-repeat center center;
    background-size: 73%;
  }
  ._btn-more-detail {
    width: 100%;
  }
  ._btn-more-detail + ._btn-share-wrap {
    ._btn-share {
      margin-left: (20em/16);
    }
    .entry-shares {
      left: auto;
      right: 0;
    }
  }

  // Model View
  // ----------------------------------------
  .model-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1em 0;
    width: 56.9%;
    .model-img-wrap {
      width: 100%;
      &.race-model {
        padding-bottom: 5em;
        margin-bottom: 3em;
        @include media(sm) {
          margin-top: -1em;
          border-bottom: 1px solid $color-border;
        }
      }
    }

    .model-img {
      width: 80%;
      margin-left: 10%;
      display: none;
      &.active {
        display: block;
      }
    }

    .model-colors {
      display: flex;
      justify-content: center;
    }
    .model-color-label {
      text-align: center;
      margin: 5em 0 1.5em 0;
      font-size: (20em/16);
    }
    .model-color {
      width: (50em/16);
      height: (50em/16);
      position: relative;
      cursor: pointer;
      margin: 0 (13em/16);
      transition: transform $transition-ui;
      &::before {
        content: '';
        position: absolute;
        width: 116%;
        height: 116%;
        padding: .14em;
        border: 1px solid transparent;
        top: -8%;
        left: -8%;
        box-sizing: border-box;
      }

      &:hover {
        &::before {
          display: block;
          border-color: #000000;
        }
      }
      &.active {
        transform: scale(1.25);
        pointer-events: none;
        &::before {
          border-color: #000000;
        }
      }
    }

    // Custom colors
    // ----------------------------------------
    ._color-white-black::before {
      background-image: linear-gradient(#f3f4f4, #333637);
    }
    ._color-red::before {
      background-image: linear-gradient(#fc0105, #be161c);
    }
    ._color-dark-gray::before {
      background-image: linear-gradient(#737e70, #4d4d4c);
    }
    ._color-black::before {
      background-image: linear-gradient(#4a4b4a, #020101);
    }

    // Price
    // ----------------------------------------
    .model-price-label {
      font-size: (22em/16);
      margin: 2.5em 0 0 0;
    }
    .model-price {
      margin: .4em 0 2.8em 0;
      .color-primary {
        font-size: (50em/16);
      }
      .unit {
        font-size: (30em/16);
      }
    }

    // Buttons
    // ----------------------------------------
    .model-actions {
      border-top: 1px solid $color-border;
      padding: 3em 0;
      display: flex;
      justify-content: center;
      width: 100%;
      //column-count: 2;
      //column-gap: (20em/16);
    }
    .ts-btn {
      width: 100%;
      max-width: (320em/16);
      margin: 0 (10em/16);
      @include media(sm) {
        height: (80em/16);
        line-height: (80em/16);
      }
    }
  }



  @include media(xl-plus) {
    .full-width-section {
      ._banner-img-wrap {
        width: 57%;
      }
      .banner-text {
        width: 43%;
      }
    }
  }

  @include media(sm) {
    // title
    .entry-back {
      margin-top: 2em;
    }
    .entry-title {
      width: calc(100% - 1.5em);
      margin-left: auto;
      margin-right: auto;
    }
    //content
    .model-content {
      flex-wrap: wrap;
    }
    .model-view {
      width: 100%;
      .model-img {
        width: 100%;
        margin-left: 0%;
        display: none;
      }
      // actions
      .model-actions {
        position: fixed;
        bottom: 0;
        padding: 0;
        margin: 0;
        border: none;
        z-index: 9;
        transition: opacity .2s ease-in-out;
        opacity: 1;
      }
      .ts-btn {
        width: 100%;
        max-width: none;
        margin: 0;
      }
    }
    .model-info-container {
      width: 100%;
      padding: 0;
    }
    .model-info-title {
      span {
        font-size: (35em/16);
      }
    }

    // banner
    .full-width-section {
      flex-wrap: wrap;

      ._banner-img-wrap {
        width: 100%;
      }
      .banner-text {
        width: 100%;
        padding: 2.5em 1em .9em 1em;
        h3 {
          margin: 0 0 .5em 0;
        }
        p {
          max-width: none;
          padding: 0 #{$content-padding-mobile};
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }

  // Promotions
  // ----------------------------------------
  .promotions {
    display: flex;
    flex-wrap: wrap;
  }
  .promotion {
    display: flex;
    margin: 0 0 (50em/16) 0;
    width: 100%;
    img {
      width: 55%;
      align-self: center;
    }
    .promotion-text {
      width: 45%;
      box-sizing: border-box;
      font-size: (30em/16);
      padding: (20em/16);
      line-height: 1.2;
      display: flex;
      align-items: center;
      b {
        color: $color-1;
        font-weight: bold;
      }
    }
  }

  @include media(sm) {
    .promotion {
      flex-wrap: wrap;
      img {
        width: 100%;
      }
      .promotion-text {
        width: 100%;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

}

@include media(sm) {
  body.scrolled-gt-content .model-actions {
    opacity: 0 !important;
    pointer-events: none;
    color: #ff8877;
  }
}
