.page-introduction {

  // For Perfect Scrollbar
  // ----------------------------------------
  //.layout-main {
  //  width: 100vw;
  //  max-height: 100vh;
  //  min-height: auto;
  //  position: relative;
  //  display: block;
  //}
  //#footer-bottom-push {
  //  width: 100vw;
  //}


  .layout-main {
    width: 100% !important;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
  }

  .entry-crumbs {
    margin-top: 2em;
  }
  
  // Background
  // ----------------------------------------
  .page-container .layout-outer {
    width: 100vw;
  }
  .banner-bg-wrap {
    //@extend %full-absolute;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;

  }
  .banner-bg {
    //@extend %full-absolute;
    height: 100vh;
    background: black url('../img/bg-home.jpg') no-repeat center 0;
    background-size: contain;
    max-width: 1680px;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
    @include media(md) {
      background-size: 100%;
      //background-position: 35% 0em;
    }
    @include media(xs) {
      background-size: 180%;
      background-position: 40% 0em;
    }
  }

  // Components
  // ----------------------------------------

  .banner-title-1 {
    font-size: (60em/16);
    margin: 0;
  }
  .banner-title-2 {
    font-size: (100em/16);
    font-style: italic;
    margin: -.15em 0 0 0;
    text-transform: uppercase;
  }
  .title-1 {
    font-size: (50em/16);
    margin: 0;
  }
  .title-2 {
    font-size: (30em/16);
    margin: 0;
  }
  .title-3 {
    font-size: (60em/16);
    margin: 0;
  }
  .bottom-quote {
    display: inline-block;
    margin-top: .55em;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-desc {
    font-size: (22em/16);
    margin: 0;
    line-height: 1.85;
    text-align: center;
  }
  .title-container {
    position: absolute;
    top: 0;
  }
  #line-1 {
    position: absolute;
    //width: 25.4em;
    //right: 15.05em;
    //top: -5.5em;
    width: 31.5%;
    left: 49.7%;
    top: 0;
    margin-top: -7.25%;
  }
  #line-2 {
    position: absolute;
    width: 62.5%;
    left: 19%;
    top: 0;
    margin-top: -14.5%;
  }
  #line-3 {
    position: relative;
    width: 31.5%;
    left: 18.5%;
    top: 0;
    margin: 1.5% 0 1% 0;
  }
  #line-4 {
    position: absolute;
    width: 48%;
    left: 2.2%;
    top: 0;
    margin-top: -6%;
  }
  #what-stop-you {
    display: block;
    width: 100%;
    max-width: (862em/16);
    margin: 0 auto;
  }
  .dashed-line {
    position: absolute;
  }

  // Banner
  // ----------------------------------------
  #sec-banner {
    overflow: hidden;
    //min-height: 40vw;
    .banner-text {
      margin: 30% 0 5% 0;
      bottom: 1em;
    }
  }

  // AP Honda
  // ----------------------------------------
  #sec-aphonda {
    width: 100%;
    position: relative;
    .layout-inner {
      background: black url(../img/about/about-bg-aphonda.jpg) no-repeat;
      background-size: auto 83%;
      background-position: left 0 bottom 5%;
    }
    .title-container {
      margin: 2.5em 0 0 2em;
    }
    .section-content {
      margin: 11.75em 0 11em 0;
    }
    .section-desc {
      position: relative;
      right: 0;
      display: inline-block;
      width: auto;
    }
    .float-right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  // CUB
  // ----------------------------------------
  #sec-cub {
    padding-bottom: 4.5em;
    .layout-inner {
      background: white url(../img/about/about-bg-cub.jpg) no-repeat right 17%;
      background-size: 64%;
    }
    .title-container {
      left: auto;
      right: 0;
      top: 0;
      margin-top: 4.5em;
      margin-right: .5em;
    }
    .title-3, .title-2 {
      text-align: right;
    }
    .section-content {
      margin-top: 17em;
    }
    .ts-btn {
      margin-top: .5em;
    }
    .float-left {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .desc-2 {
      text-align: center;
      font-size: (30em/16);
      line-height: 1.45;
      margin: 1% 0 0 0;
    }
  }

  // Location
  // ----------------------------------------
  #sec-location {
    background: #ebebeb;
    padding-bottom: 3.8em;
    ._section {
      position: relative;
      z-index: 2;
      margin-top: (50em/16);
      display: flex;
      @include media(sm) {
        flex-direction: column;
        &>* {
          width: 100% !important;
          align-self: center;
        }
      }
    }
    .layout-inner {
      padding: 0 0 0 0;
    }
    .location-desc, .booth-desc {
      font-size: (30em/16);
      color: #555555;
      margin: .3em 0;
      line-height: 1.2;
    }
    .title-1 {
      margin-top: 4em;
    }
    .booth-desc {
      margin: 0;
    }
    .map-wrap {
      width: (730em/16);
      height: (550em/16);
      margin: 0 0 0 auto;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .booth-location {
      width: (730em/16);
      height: (550em/16);
      margin: 0 0 0 auto;
      img {
        height: auto;
      }
    }
  }

  // Ratio Responsive
  // ----------------------------------------
  @media (max-width: #{$content-width + $content-padding * 2}) and (min-width: $bp-sm) {
    $divider: strip-unit($content-width + $content-padding * 2) / 100;
    .layout-outer {
      padding: 0 #{30vw/$divider};
    }
    #line-1 {
      margin-top: -6vw;
      left: 48.2vw;
      width: 28.75vw;
    }
    #line-2 {
      margin-top: -13.5vw;
      left: 18.5vw;
      width: 58.5vw;
    }
    #line-3 {
      margin-top: 2vw;
      left: 18.25vw;
      width: 29.5vw;
    }
    #line-4 {
      left: 1.5vw;
      width: 46.5vw;
    }
    #sec-aphonda, #sec-banner, #sec-cub, #sec-location {
      font-size: #{16vw/$divider};
      //.section-desc {
      //  margin-top: 10.5vw;
      //}
    }
  }

  @include media(sm) {
    font-size: 8px;
    .dashed-line {
      display: none;
    }
    .banner-title-1 {
      font-size: (60em/16);
    }
    .banner-title-2 {
      font-size: (80em/16);
      line-height: 1;
      margin: .05em 0 .5em 0;
    }
    .section-bg {
      position: relative;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      z-index: 0;
    }
    .title-container {
      position: relative;
      z-index: 1;
    }
    #sec-banner {
      .layout-inner {
        border-bottom: 1px solid #ffffff;
      }
    }
    #sec-aphonda {
      //background: black url(../img/about/about-bg-aphonda.jpg) no-repeat;
      //background-size: 130%;
      //background-position: 0 25%;
      .layout-inner {
        background: none;
      }
      .title-container {
        margin: 2.5em 0 0 0;
      }
      .section-bg {
        margin-top: -2em;
        margin-bottom: -2em;
      }
      .section-content {
        margin: 0 0 1em 0;
        width: 100%;
      }
      .btn-wrap {
        margin: 1.75em 0;
        width: 100%;
      }
    }
    #sec-cub {
      padding-bottom: 2em;
      .layout-inner {
        background: none;
      }
      .section-bg {
        margin-top: -5em;
        margin-bottom: -5em;
      }
      .section-content {
        margin: 0;
        width: 100%;
        z-index: 1;
      }
      .title-container {
        margin: 5em 0 0 0;
        .title-2, .title-3 {
          text-align: left;
        }
      }
      .btn-wrap {
        margin: 1.75em 0;
        width: 100%;
      }
      .desc-2 {
        .color-1 {
          font-size: 1.4em;
          line-height: .1;
        }
      }
    }
    #what-stop-you {
      margin: 7em 0 1em 0;
    }
    #sec-location {
      .title-1 {
        margin-top: 0;
      }
      .location-desc {
        margin-bottom: 1.5em;
      }
      .booth-desc {
        margin-bottom: 1.5em;
      }
    }
  }
}
