// Logo Nav
// ----------------------------------------
.nav-logo-honda {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
  img {
    height: (100em/16);
  }
  a {
    pointer-events: auto;
  }
  @include media(md) {
    img {
      height: (50em/16);
      width: auto;
    }
  }
}

// The countdown page
// ----------------------------------------
.page-countdown, .page-countdown-2 {
  //line-height: 1.15;
  .layout-full-width {
    font-size: 16px;
    line-height: 1.2; // recommended by web typography
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: black url('../img/bg-countdown.jpg') no-repeat center 0;
    background-size: cover;
    //@include media(md) {
    //  background-size: 150%;
    //}
    //@include media(sm) {
    //  background-image: url('../img/bg-countdown-mobile.jpg');
    //  background-size: 100%;
    //}
    //@include media(mobile-landscape) {
    //  padding-top: 8%;
    //  background-image: url('../img/bg-countdown.jpg');
    //  background-size: 120%;
    //  height: auto;
    //}
    @include media(md) {
    }
    @include media(sm) {
      background-image: url('../img/bg-countdown-mobile.jpg');
      background-size: 100%;
    }
    @include media(mobile-landscape) {
      //padding-top: 8%;
      background-image: url('../img/bg-countdown.jpg');
      //background-size: 120%;
      height: auto;
      //.flip-clock-outer {
      //  margin-top: 2.5em;
      //}
    }

    .layout-inner {
      box-sizing: border-box;
      max-width: 1920px;
    }

    // trick for new layout
    .honda-logo-space {
      height: 13vw;
      @include media(xl) {
        height: 210px;
      }
      @include media(md) {
        height: 30vw;
      }
      @include media(mobile-landscape) {
        height: 13vw;
      }
    }
    .flip-clock-container {
      display: flex;
      justify-content: center;
      position: relative;
      @include media(mobile-landscape) {
        //height: 10em;
      }
    }

    // Layout
    // ----------------------------------------
    .full-height-container {
      height: 100vh;
      max-height: 1080px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media(xs) {
        max-height: 700px;
      }
      @include media(mobile-landscape) {
        max-height: none;
        height: auto;
      }
    }
    .page-bottom {
      text-align: center;
      margin: 0;
      //position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      //flex-grow: 1;
      // responsive font
      @include media(lg) {
        font-size: 14px;
      }
      @include media(mobile-landscape) {
        bottom: auto;
        top: 0;
        position: relative;
      }
    }
    ._padding-bottom {
      height: 8vh;
      max-height: 60px;
    }
    .text-wrap {
      font-size: 16px;
      @include media(lg) {
        font-size: 14px;
      }
      @include media(lg-xl) {
        font-size: 12px;
      }
      @include media(md) {
        font-size: 14px;
      }
      @include media(sm) {
        font-size: 10px;
      }
      @include media(xs) {
        font-size: 8px;
      }
    }

    // Flip Clock (Metallic)
    // ----------------------------------------
    .flip-clock-outer {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      @include media(md) {
        overflow: hidden;
        height: 150px;
      }
    }
    .flip-clock-inner {
      @include media(md) {
        // prevent from breaking a new line
        position: absolute;
        top: 0;
        left: 50%;
        min-width: 600px !important;
        margin-left: -300px;
      }
    }
    .flip-clock-wrapper {
      $border-radius: 2px;
      display: block;
      width: auto;
      font-size: 16px;
      @include media(lg-xl) {
        transform: scale(.85);
      }
      @include media(lg) {
      }
      @include media(md) {
        // fix mysterious left space
        transform: scale(.75);
        margin-left: 30px;
      }
      @include media(sm) {
        transform: scale(.5);
      }
      //@include media(md) {
      //  font-size: 14px;
      //}
      ul {
        font-size: inherit;
      }
      .inn {
        color: #ffffff;
        box-shadow: inset 0px 1px 1px 0px rgba(221, 221, 221, .2);
        //font-size: 80px;
        //line-height: 83px;
        font-size: .8em;
        line-height: 1.24em;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      .up, .down {
        &::before {
          $rgb: 30;
          content: '';
          position: absolute;
          background-image: linear-gradient(rgba($rgb, $rgb, $rgb, 0), rgba($rgb, $rgb, $rgb, .35));
          width: 100%;
          height: 50%;
          bottom: 0;
          left: 0;
          z-index: 9;
          border-bottom: 1px solid rgba(0, 0, 0, .5);
        }
      }
      .down {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
      .down::before {
        $rgb: 60;
        background-image: linear-gradient(rgba($rgb, $rgb, $rgb, 0), rgba($rgb, $rgb, $rgb, 1));
        height: 100%;
      }
      .flip-clock-divider .flip-clock-label {
        color: #ffffff;
        top: auto;
        bottom: -1.5em;
      }
      .flip-clock-label {
        text-transform: uppercase;
        font-size: (20em/16);
        font-family: $font-family-1;
        font-weight: normal;
        width: 5.5em;
        margin-left: .6em;
        display: block !important;
        position: absolute;
        left: 50%;
      }
      // only day
      .days .flip-clock-label {
        margin-left: 0;
      }
      .flip-clock-dot {
        background-color: #dddddd;
      }
      // set font here
      .flip {
        font-family: $font-family-3;
        font-weight: 500;
        //width: 50px;
        //height: 90px;
        border: 2px solid black;
        border-radius: $border-radius;
        box-sizing: border-box;
        width: (46em/16);
        height: (86em/16);
        margin: .4em .4em;
      }
    }

    // Texts
    // ----------------------------------------

    ._text-pre-title {
      margin-top: 2em;
      font-size: (30em/16);
      font-weight: bold;
      @include media(md) {
        margin-top: 1.5em;
      }
      @include media(sm) {
        margin-top: 0em;
      }
    }
    ._title-main {
      margin: 1.25em 0 2em 0;
      font-size: 1em;
      font-style: italic;
      display: inline-block;
      @include media(md) {
        margin: 2em 0 2.5em 0;
        line-height: 1.05;
      }
      span:first-child {
        font-size: (50em/16);
        font-weight: 300 !important;
        @include media(md) {
          font-size: (40em/16);
        }
      }
      span:last-child {
        font-size: (80em/16);
        text-transform: uppercase;
        @include media(md) {
          font-size: (60em/16);
        }
      }
    }
    ._text-subtitle {
      font-size: (30em/16);
    }
    ._text-date {
      font-size: (50em/16);
      color: $color-1;
      margin-top: .25em;
      @include media(md) {
        font-size: (40em/16);
      }
    }
  }

  // News
  // ****************************************
  // ****************************************
  .sec-countdown-news {
    box-sizing: border-box;
    padding-bottom: 3em;
    @include media(md) {
      padding-bottom: 0;
    }
    .layout-inner {
      border-top: 1px solid currentColor;
      display: flex;
      flex-wrap: wrap;
      & > h2 {
        width: 100%;
        color: $color-1;
        font-size: (50em/16);
        margin: 1em 0 .15em 0;
      }
      & > h3 {
        width: 100%;
        font-size: (20em/16);
        font-weight: normal;
        font-style: italic;
        margin: 0 0 3em 0;
      }
    }

    // The news grid
    // ----------------------------------------
    //.ts-grid {
    //  @include responsive-grid(75px, 75px);
    //  @include media(md) {
    //    @include responsive-grid($content-padding-mobile, 100px);
    //  }
    //}

    $side-news-width: 20em;

    .right-wrap {
      width: calc(100% - #{$side-news-width});
      box-sizing: border-box;
      padding-right: (75px/2);
      align-self: flex-start;
    }
    .side-news-wrap {
      width: $side-news-width;
      box-sizing: border-box;
      margin-top: -1.9em;
      // overrides
      .news-card {
        margin-bottom: 3em;
        @include media(md) {
          margin-bottom: 1.5em;
        }
        @include media(md-plus) {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .news-date {
        margin-top: 0;
        color: $color-font__dark;
      }
    }
    .ts-post-item {
      margin-bottom: 2.5em;
    }

    @include media(lg) {
      font-size: 14px;
    }

    @include media(md) {
      font-size: 12px;

      .right-wrap {
        width: 100%;
        padding: 0;
      }
      .side-news-wrap {
        //width: 100%;
        //column-count: 2;
        //column-gap: $content-padding-mobile;
        display: flex;
        flex-wrap: wrap;
        margin: 2em auto;
        width: calc(100% + #{$content-padding-mobile});
        margin-left: -#{$content-padding-mobile / 2};
        margin-right: -#{$content-padding-mobile / 2};
        .news-card {
          width: 50%;
          padding: #{$content-padding-mobile / 2};
          box-sizing: border-box;
        }
      }
    }

    @include media(sm) {
      font-size: 8px;
      //.side-news-wrap {
      //  width: 100%;
      //  column-count: 1;
      //}
    }
  }

  // Internal link
  // ****************************************
  // ****************************************

  .sec-countdown-links {
    box-sizing: border-box;
    .layout-inner {
      border-top: 1px solid currentColor;
    }
    .links-wrap {
      display: flex;
      justify-content: center;
      padding: 4em 0;
    }

    a {
      padding: 0 1.25em;
      transition: opacity $transition-ui;
      &:nth-child(2) img {
        box-shadow: 0px 0px 7em 0px rgba(255, 255, 255, .25);
      }
      &:hover {
        opacity: .8;
      }
    }
    img {
      width: auto;
      height: 180px;
    }

    @include media(md) {
      .links-wrap {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 400px;
        padding: 2em 0;
      }
      a {
        width: 30%;
        align-self: center;
        padding: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    @include media(sm) {
      .links-wrap {
        padding: 1.5em 0;
      }
    }
  }

}

