.page-home {
  .bg-wrap {
    background: black url('../img/bg-home.jpg') no-repeat center 0;
    background-size: contain;
    background-position: center -5em;
    @include media(xs-plus) {
      background-size: 1980px;
    }
    @include media(md) {
      background-position: 40% -4em;
      background-size: 200%;
    }
    @include media(sm) {
      background-image: url('../img/bg-home-mobile.jpg');
      background-size: 100%;
      background-position: center -10vw;
    }
  }
  .layout-outer {
    font-size: 16px;
    background: none;
    ._banner-title-1 {
      font-size: (100em/16);
      margin: 4.25em 0 0 0;
      font-style: italic;
      text-transform: uppercase;
    }
    ._banner-title-2 {
      font-size: (40em/16);
      margin: .3em 0 .8em 0;
      font-weight: 300;
    }
    ._banner-title-3 {
      font-size: (30em/16);
      margin: 0 0 0 0;
      font-weight: bold;
      font-style: italic;
      line-height: 1.3;
    }
    ._banner-title-4 {
      font-size: (30em/16);
      margin: 0 0 0 0;
      line-height: 1.3;
    }
    @include media(md) {
      font-size: 12px;
    }
    @include media(sm) {
      font-size: 8px;
      ._banner-title-1 {
        font-size: (80em/16);
        line-height: 1;
        margin: 4.7em 0 0 0;
      }
      ._banner-title-2 {
        font-size: (30em/16);
        margin: .5em 0 1.1em 0;
      }
      ._banner-title-3 {
        font-size: (24em/16);
      }
      ._banner-title-4 {
        font-size: (24em/16);
      }
    }
  }


  // Section Bottom
  // ----------------------------------------
  .layout-full-width {
    background-image: linear-gradient(rgba(0,0,0,0), #222222);
  }
  .sec-bottom {
    padding: 10em 0;
    width: 100%;
    margin: 0 auto;
    max-width: $content-width;
  }
  .flip-link-container {
    width: 100%;
    display: flex;
    margin: auto 0 auto -2.25vw;
  }
  .flip-link {
    cursor: pointer;
    perspective: 1000px;
    width: 50%;
    padding-bottom: (50%*724/636);
    position: relative;
    &:first-child {
      z-index: 1;
    }
    .flip-img-wrap {
      @extend %full-absolute;
      width: 100%;
      transform: rotateY(-20deg) scale(1.06);
      transition: transform .3s;
      transform-style: preserve-3d;
      transform-origin: center;
      overflow: hidden;
      z-index: 0;
    }
    .flip-img {
      @extend %full-absolute;
      object-fit: cover;
    }
    &:hover {
      .flip-img-wrap {
        transform: rotateY(-10deg) scale(1.06);
      }
    }
  }
  .ts-btn {
    position: relative;
    z-index: 9;
    max-width: (244em/16);
    font-weight: bold;
    margin: 0 auto;
    height: (75em/16);
    line-height: (75em/16);
    span {
      font-size: (28em/16);
    }
  }
  @include media(sm) {
    .sec-bottom {
      padding: 4em 0;
    }
    .flip-link-container {
      margin-left: -1vw;
    }
    .flip-link {
      perspective: 500px;
    }
    // --- for old image

    //.flip-link {
    //  perspective: 500px;
    //  padding-bottom: (78%*724/636);
    //  .flip-img-wrap {
    //  }
    //  .flip-img {
    //    object-fit: fill;
    //    left: 0;
    //  }
    //}
    //.__honda-bike {
    //  transform-origin: left center;
    //  transform: scale(1.7, 1.1) translate(0, 2%);
    //}
    //.__cub-house {
    //  transform-origin: left center;
    //  transform: scale(1.8, 1) translate(-12%, 0);
    //}
  }

  // Button
  // ----------------------------------------
  .btn-container {
    width: 100%;
    margin: -6.5em 0 6.5em 0;
    .btn-wrap {
      float: left;
      width: 50%;
    }
    @include media(md) {
      font-size: 12px;
    }
    @include media(sm) {
      font-size: 8px;
      margin: -7em 0 7em 0;
    }
  }
}
