$popup-padding: (30em/16);
$popup-padding-mobile: (17em/16);
.ml-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  @include media(xl) {
    font-size: 14px;
  }
  @include media(lg) {
    font-size: 12px;
  }
  @include media(md-lg) {
    font-size: 11px;
  }
  @include media(md) {
    font-size: 11px;
  }
  @include media(sm) {
    font-size: 10px;
  }

  .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201;
  }

  .mp-outer {
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 10vh 0 0 0;
    @include media(sm) {
      padding: 0 $popup-padding-mobile;
      //margin-top: 5vh;
    }
  }

  /* Modal Content/Box */
  .mp-inner {
    padding: $popup-padding;
    //border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 1100px; // popup width here!
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    overflow: hidden;
    //height: 100%;
    height: auto;
    align-self: center;
    background-color: #ffffff;
    &.__padding-news {
      padding: 80px 0;
    }
    @include media(sm) {
      padding: 0em $popup-padding-mobile 2em $popup-padding-mobile;
      width: 100%;
    }
  }
  .sp-close {
    position: absolute;
    color: #000000;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-weight: 300;
    z-index: 9;
    line-height: 1;
    width: (50em/16);
    height: (50em/16);
    &::before {
      line-height: 0;
      content: '×';
      font-size: (80em/16);
      position: absolute;
      top: .25em;
      left: .12em;
    }
    &:hover {
      color: $color-1;
    }
    @include media(sm) {
      &::before {
        font-size: (100em/16);
        top: .16em;
      }
    }
  }

  // Content
  // ----------------------------------------

  .heading1 {
    font-size: (30em/16);
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: .7em 0;
    margin: 0;
    @include media(sm) {
      padding: .7em 0;
      border-width: 1px;
      //margin-top: -.9em;
    }
  }

  .heading2 {
    font-size: (50em/16);
    text-align: center;
    margin: .75em 0;
    @include media(sm) {
      margin: .65em 0;
    }
  }

  // Common
  // ----------------------------------------
  .scroll-container {
    position: relative;
  }
}

#popup-contact {
  .mp-inner {
    width: 100%;
    max-width: (570em/16);
  }
  .scroll-container {
    //display: none;
  }

  ._submit-btn {
    width: 100%;
    max-width: (220em/16);
    margin: .75em auto;
    display: block;
    span {
      font-size: (30em/16);
      //font-weight: normal;
      font-style: italic;
      font-weight: 300;
    }
  }

  // thank you
  ._thank-you {
    text-align: center;
    display: none;
    img {
      margin: 5em 0 3em 0;
    }
    h3 {
      font-size: (30em/16);
      color: $color-1;
      margin: .25em 0;
    }
    p {
      font-size: (22em/16);
      margin: .25em 0 2em 0;
    }
    @include media(sm) {
      img {
        width: 100%;
        max-width: (200em/16);
      }
    }
  }

  // Status
  // ----------------------------------------

  .sending {
  }

  &.email-sent {
    ._thank-you {
      display: block;
    }
    .scroll-container {
      display: none;
    }
  }
}

#popup-image {
  .sp-close {
    color: #ffffff;
    @include media(sm) {
      right: 0em;
    }
  }
  .mp-inner {
    background-color: transparent;
    width: auto;
    max-width: 100%;
    padding-top: 4em;
    img {
      width: auto;
      max-width: 100%;
    }
    @include media(sm) {
      padding: 4em 0 0 0;
    }
  }
}
