$asset-path: "../";

$content-width: 1284px;
$content-padding: 20px;
$content-padding-mobile: 17px;

// nav
$nav-height: 80px;
$nav-height-mobile: 45px;
$hamburger-width: 30px;
$hamburger-space: 8px;

/* only actually used when .app-wrap is the wrapper */
$footer-height: 70px;
$footer-height-mobile: 100px;
$footer-bottom-height: 70px;
$footer-bottom-height-mobile: 100px;

$color-1: #ec1b2e;
$color-2: #C0C0C0;
$color-3: #1A1A1A;
$color-bg-gray: #222222;
$color-bg-light: #eeeeee;
$color-font: #000000;
$color-font-nav: #ffffff;
$color-font-nav-2: #000000;
$color-font-lighter: #666666;
$color-border: #cccccc;
$color-border-lighter: #e6e6e6;
$color-border-input: #000;
$color-disabled: #C0C0C0;
$color-danger: #BF171E;
$color-success: #28A745;
$color-info: #1c22ff;
$color-btn-hover: #ff1722;
$color-btn-active: #b61523;
$color-btn: #ebebeb;
$color-cub: #cb865c;

$tab-height: (60em/16);

/* theme */
$color-bg__dark: #000000;
$color-bg__light: #fffffff;
$color-font__dark: #ffffff;
$color-font__light: #000000;
$color-button__light: $color-1;
$color-button__dark: $color-1;
$color-button__cub: $color-cub;
$color-button-hover__light: $color-btn-hover;
$color-button-hover__cub: #e09466;

/* font family */
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-1: 'AP Honda', sans-serif;
$font-family-2: 'db_helvethaicax', sans-serif;
$font-family-3: 'Oswald', sans-serif;
$font-family-4: 'Prompt', sans-serif;

//$easing-1: cubic-bezier(0.19, 1, 0.22, 1);
$easing-1: cubic-bezier(0.19, 1, 0.22, 1);

// Variable Class
// ----------------------------------------

.color-1 {
  color: $color-1;
}
.color-fade {
  color: #959595;
}

$transition-ui: .1s ease-in-out;
